<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/simple.css" />
    <title>Movie Recommendation System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    <script type="text/javascript" href="js/index.js"></script>

    <script>
        function doShit(){
            var myData = document.getElementById("searchInput").value;
            sessionStorage.setItem('objectToPass', myData);
            window.location.href="html/search.html";
        }
    </script>

    <div id="titlebar">
        <div id = "title">
            <h1>Movie Recommendation System</h1>
        </div>
        <div id="menuBar">
            <a href="{{url_for('recommendation')}}" id="menuBarItem">Recommendations</a> 
        </div>


    </div>
    

    <div id="recommendationRedirector">
            <h1>Find Your Movie!</h1><br>
            <h3>Use our movie recommender to find some movies that suit your personal tastes! Click on Recommendations to find your next watch!</h3>

    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>